@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Denk One", sans-serif;
  margin: 0;
}

figure {
  margin: 0;
  position: relative;
}

.img-flex {
  width: 100%;
  display: block;
}

figcaption {
  background-color: #e2e2e2;
  overflow: hidden;
  padding: 1em;
  font-size: 100%;
  line-height: 1.3;
}

h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

p {
  font-family: Georgia;
  margin-bottom: 0;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    overflow: hidden;
    font-size: 110%;
    line-height: 1.4;
  }

  figcaption {
    border-radius: 8px;
    max-width: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    bottom: 50px;
    right: 50px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
